body {text-align: left;
font-style:normal;
font-family: sans-serif;}

img {max-width: 100%;

}

.text-center {
 text-align: center;

}
.col-xs-12 {
  height: 200px;
  background-image: url(../images/);
  border-style: dotted;
  border-color: black;
  border: 10px;
  }
